body {
    background-color: #DBDBDB;
    margin: 0;
    margin-top: 0vh;
    margin-left: 0vh;
    margin-right: 0vh;
    height: 100%;
}
.content {
    min-height: 100vh;
    padding-bottom: 2vh;
}
#head {
    background-color: #706F6F;
    display: flex;
    align-items: center;
    gap: 10%;
    margin: 0;
    height: 100%;
}
#img img {
    width: 30%;
    justify-content: left;
}
#botoes {
    display: flex;
    justify-content: center;
    align-items: center;
}
#botoes a {
    text-decoration: none;
    margin: 1vh;
}
#botoes input[type=submit] {
    border: none;
    padding: 3vh 8vh;
    margin: 0%;     
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    background-color: #000F08;
    color:#ffffff;
    border-radius: 20px;
    border: none;
    transition: background-color 0.3s, transform 0.2s;
}
#botoes input[type="submit"]:hover {
    background-color: #B0B5B3;
    color: #000F08;
}
#botoes input[type="submit"]:active {
    transform: scale(0.90);
}
#corpo {
    margin-top: 2vh;
    display: grid;
    width: 100%;
    font-size: 3vh;
    font-family: 'Nunito', sans-serif;
    color: #DBDBDB;
    font-style: oblique;
    font-weight: 200;
}
#texto-principal {
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #000F08;
    text-align: center;
}
#corpo #prim p {
    margin-top: 20vh;
    margin-left: 10vh;
    margin-right: 50%;
    padding-right: 50%;
    text-align: left;
    font-size: 7vh;
    text-transform: uppercase;
    position: absolute;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #000F08;
}
#corpo #seg p {
    margin-top: 75vh;
    margin-left: 10vh;
    text-align: justify;
    position: absolute;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #000F08;
}
#corpo img {
    margin-right: 2vh;
    margin-left: 2vh;
    width: 98%;
    border-radius: 20px;
    
}
footer {
    margin: 0;
    background-color: #706F6F;
    color: #ffffff;
    text-align: center;
    padding: 1vh;
    position: relative;
    align-items: end;
}
footer a {
    color: #ffffff;
}
#corpot {
    margin-left: 2vh;
    margin-right: 2vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DBDBDB;
    gap: 10px;
    display: grid;
}
#corpot #conteudo {
    margin-top: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
    display: inline-block;
    width: 96%;
    font-family: Arial, Helvetica, sans-serif;
    gap: 2vh;
    background-color: #B0B5B3;
    border-radius: 20px;
}
.tipos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 2vh;
    grid-column-gap: 2vh;
    flex-wrap: wrap;
    margin-left: 2vh;
    margin-right: 2vh;
    justify-content:center;
    align-content: top;
    height: 80vh;
    margin-bottom: 2vh;
}
.type{
    background-color: #DBDBDB;
    color: #000F08;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}
#corpos{
    margin-left: 2vh;
    margin-right: 2vh;
    display: grid;
    width: 100%;
}
#corpos #conteudo{
    margin-top  : 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
    display: inline-block;
    width: 96%;
    border-radius: 20px;
    font-size: 20px;
    background-color: #B0B5B3;
    color: #000F08;
    text-align: center;        
}
#corpos #conteudo #descriçao{
    background-color: #DBDBDB;
    margin-top: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
    border-radius: 20px;
}
#corpos #conteudo h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    text-align: center;
    margin-top: 2vh;
    padding: 2vh 0;
}
#corpos #conteudo p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
    font-size: 3vh;
    padding: 0 25%;
    padding-bottom: 2vh;
    text-align: justify;
}
#corpos #conteudo li {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 2vh;
    margin-left: 2vh;
    font-size: 2.5vh;
    padding: 0 25%;
    text-align: justify;
    list-style-position: inside;
}
#corpos #conteudo #texto-principal {
    margin-left: 2vh;
    margin-right: 2vh;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #000F08;
    text-align: center;
}
#corpol {
    margin-left: 2vh;
    margin-right: 2vh;
    display: grid;
    width: 100%;
    
}
#corpol #conteudo {
    display: inline-block;
    width: 96%;
    margin-top: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    background-color: #B0B5B3;
    
}
#corpol #conteudo #texto-principal {
    margin-left: 2vh;
    margin-right: 2vh;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #000F08;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
}
#corpol #conteudo h2 {
    text-align: center;
    color: #000F08;
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
#corpol #conteudo form {
    text-align: center;
    color: #000F08;
    margin-right: 2vh;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

#corpol #conteudo label {
    display: block;
    margin-bottom: 2vh;
    color: #000F08;
}
#corpol #conteudo input[type="text"],
#corpol #conteudo input[type="password"]{
    width: 80%;
    padding: 15px;
    margin-bottom: 2vh;
    border: 1px solid #000F08;
    border-radius: 10px;
    color: #000F08;
    background-color: #DBDBDB;
}
#corpol #conteudo button {
    background-color: #000F08;
    color: #ffffff;
    border: none;
    padding: 20px 60px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
#corpol #conteudo button:hover{
    background-color: #706F6F;
    color: #000F08;
}
#corpol #conteudo button:active{
    transform: scale(0.90);
}
#corpol #conteudo h4 {
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 0vh;
    margin-bottom: 2vh;
    text-align: center;
    color: #000F08;
    padding: 0 25%;
    font-size: 2vh;
    text-transform: initial;
    font-style: normal;
    font-weight: normal;
}
#corpol #conteudo p {
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
    text-align: center;
    color: #000F08;
    padding: 0 25%;
    font-size: 1.5vh;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 2vh;
}
#corpoc{
    margin-left: 2vh;
    margin-right: 2vh;
    display: grid;
    width: 100%;
}
#corpoc #conteudo {
    display: inline-block;
    width: 96%;
    margin-top: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    background-color: #B0B5B3;
}
#corpoc #conteudo #texto-principal {
    margin-left: 2vh;
    margin-right: 2vh;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #000F08;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
}
#corpoc #conteudo h2 {
    text-align: center;
    color: #000F08;
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
#corpoc #conteudo form {
    text-align: center;
    align-items: center;
    color: #000F08;
    margin-right: 2vh;
    margin-left: 2vh;
    padding: 0 15%;
    display: grid;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

#corpoc #conteudo label {
    display: block;
    color: #000F08;
}
#corpoc #conteudo input[type="text"],
#corpoc #conteudo input[type="password"],
#corpoc #conteudo input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #050e59;
    border-radius: 10px;
    color: #ffffff;
    align-items: center;
}
#corpoc #conteudo button {
    background-color: #000F08;
    color: #ffffff;
    border: none;
    padding: 3vh 8vh;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 0%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
#corpoc #conteudo button:hover{
    background-color: #706F6F;
    color: #000F08;
}
#corpoc #conteudo button:active{
    transform: scale(0.90);
}
#corpoc #conteudo h4 {
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 0vh;
    margin-bottom: 2vh;
    text-align: center;
    color: #000F08;
    padding: 0 25%;
    font-size: 2vh;
    text-transform: initial;
    font-style: normal;
    font-weight: normal;
}
#corpoc #conteudo p {
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
    text-align: center;
    color: #000F08;
    padding: 0 25%;
    font-size: 1.5vh;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 2vh;
}
#corpoc #conteudo #botaolog {
    display: flex;
    justify-content: center;
    align-items: center;
}
#corpoc #conteudo #botaolog a {
    display: flex;
    color:#000F08;
    margin-bottom: 2vh;
    align-items: center;
}
#corpoc #conteudo #botaolog input[type=submit] {
    border: none;
    padding: 3vh 8vh;
    margin: 0%;
    cursor: pointer;
    background-color: #000F08;
    color:#ffffff;
    border-radius: 10px;
    border: none;
    margin-left: 2vh;
    margin-right: 2vh;
    transition: background-color 0.3s, transform 0.2s;
}
#corpoc #conteudo #botaolog input[type="submit"]:hover {
    background-color: #706F6F;
    color: #000F08;
}
#corpoc #conteudo #botaolog input[type="submit"]:active {
    transform: scale(0.90);
}
#corpos #conteudo {
    display: inline-block;
    width: 96%;
    margin-top: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    background-color: #B0B5B3;
}
#corpos #conteudo form {
    text-align: center;
    align-items: center;
    color: #000F08;
    margin-right: 2vh;
    margin-left: 2vh;
    padding: 0 15%;
    display: grid;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
#corpos #conteudo label {
    display: block;
    color: #000F08;
    margin: 0%;
}
#corpos #conteudo input[type="text"],
#corpos #conteudo input[type="tel"],
#corpos #conteudo input[type="email"],
#corpos #conteudo input[type="id"] {
    width: 100%;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 2vh;
    border: 1px solid #050e59;
    border-radius: 10px;
    color: #ffffff;
    align-items: center;
}
#corpos #conteudo input[type="submit"]{
    width: 100%;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 2vh;
    background-color: #000F08;
    border-radius: 10px;
    border: 0;
    color: #ffffff;
    align-items: center;
    transition: background-color 0.3s, transform 0.2s;
}
#corpos #conteudo input[type="submit"]:hover{
    background-color: #706F6F;
    color: #000F08;
}
#corpos #conteudo input[type="submit"]:active{
    transform: scale(0.90);
}
#corpos #conteudo textarea {
    width: 100%;
    justify-content: center;
    padding: 10px;
    margin-bottom: 2vh;
    border: 1px solid #050e59;
    border-radius: 10px;
    color: #050e59;
}
#corpos #conteudo h4 {
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 0vh;
    margin-bottom: 2vh;
    text-align: center;
    color: #000F08;
    padding: 0 25%;
    font-size: 2vh;
    text-transform: initial;
    font-style: normal;
    font-weight: normal;
}
#corpos #conteudo #texto-principal {
    margin-left: 2vh;
    margin-right: 2vh;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #000F08;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
}