body {
    background-color: #DBDBDB;
    margin: 0;
    margin-top: 0vh;
    margin-left: 0vh;
    margin-right: 0vh;
    height: 100%;
}
.content {
    min-height: 100vh;
    padding-bottom: 2vh;
}
#head {
    background-color: #706F6F;
    display: flex;
    align-items: center;
    gap: 10%;
    margin: 0;
    height: 100%;
}
#img img {
    width: 30%;
    justify-content: left;
}
#botoes {
    display: flex;
    justify-content: center;
    align-items: center;
}
#botoes a {
    text-decoration: none;
    margin: 1vh;
}
#botoes input[type=submit] {
    border: none;
    padding: 3vh 8vh;
    margin: 0%;     
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    background-color: #000F08;
    color:#ffffff;
    border-radius: 20px;
    border: none;
    transition: background-color 0.3s, transform 0.2s;
}
#botoes input[type="submit"]:hover {
    background-color: #B0B5B3;
    color: #000F08;
}
#botoes input[type="submit"]:active {
    transform: scale(0.90);
}
#corpo {
    margin: 2vh;
    margin-bottom: 2vh;
    display: grid;
    width: 100%;
    gap: 1.5vh;
    font-size: 3vh;
    font-family: 'Nunito', sans-serif;
    color: #DBDBDB;
    font-style: oblique;
    font-weight: 200;
}
#texto-principal {
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #000F08;
    text-align: center;
}
#corpo #prim p {
    margin-top: 20vh;
    margin-left: 10vh;
    margin-right: 50%;
    padding-right: 50%;
    text-align: left;
    font-size: 7vh;
    text-transform: uppercase;
    position: absolute;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #000F08;
}
#corpo #seg p {
    margin-top: 75vh;
    margin-left: 10vh;
    text-align: justify;
    position: absolute;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #000F08;
}
#corpo img {
    margin-right: 2vh;
    margin-left: 2vh;
    width: 96%;
    border-radius: 20px;
    
}
footer {
    margin: 0;
    background-color: #706F6F;
    color: #ffffff;
    text-align: center;
    padding: 1vh;
    position: relative;
    align-items: end;
}
footer a {
    color: #ffffff;
}
#corpot {
    margin: 2vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DBDBDB;
    gap: 10px;
}
#corpot #conteudo {
    margin: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
    display: inline-block;
    width: 96%;
    font-family: Arial, Helvetica, sans-serif;
    gap: 2vh;
    background-color: #B0B5B3;
    border-radius: 20px;
}
.tipos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 2vh;
    grid-column-gap: 2vh;
    flex-wrap: wrap;
    margin-left: 2vh;
    margin-right: 2vh;
    justify-content:center;
    align-content: top;
    height: 80vh;
    margin-bottom: 2vh;
}
.type{
    background-color: #ffffff;
    color: #000F08;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}
#corpos{
    margin-left: 2vh;
    margin-right: 2vh;
    display: grid;
    width: 100%;
}
#corpos #conteudo{
    margin: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
    display: inline-block;
    width: 96%;
    border-radius: 20px;
    font-size: 20px;
    background-color: #B0B5B3;
    color: #000F08;
    text-align: center;        
}
#corpos #conteudo #descriçao{
    background-color: #DBDBDB;
    margin-top: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
    border-radius: 20px;
}
#corpos #conteudo h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    text-align: center;
    margin-top: 2vh;
    padding: 2vh 0;
}
#corpos #conteudo p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
    font-size: 3vh;
    padding: 0 25%;
    padding-bottom: 2vh;
    text-align: justify;
}
#corpos #conteudo li {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 2vh;
    margin-left: 2vh;
    font-size: 2.5vh;
    padding: 0 25%;
    text-align: justify;
}
#corpos #conteudo #texto-principal {
    margin-left: 2vh;
    margin-right: 2vh;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #000F08;
    text-align: center;
}